/* Палітра кольорів */
:root {
  --secondary-font-color: #ffffff;
  --black: #000;
  --main-font-color: #737373;
  --accent-color: #0a8bfe;

  --gray-bg: #888888;
}

/* Загальні стилі для основного тексту */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
}

/* Скидання відступів тегів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скидання підкреслювання посилань */
a {
  text-decoration: none;
}

/* Скидання маркерів списку */
ul {
  list-style: none;
}

/* Загальний контейнер сторінки */
.container {
  width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ========== Хедер ========== */
/* Верхні поля хедеру */
.hero {
  padding-top: 50px;

  background-image: url(../images/IMAGE.jpg);
  background-size: 1440px 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0D0D33;

}

.header {
  position: absolute;
  width: 100%;
}

/* Горизонтальне розташування елементів хедеру та їх центрування */
.header-container {
  display: flex;
  align-items: center;
}

/* Стилі логотипу */
.header-logo {
  /* Правильне горизонтальне розташування елементів логотипу */
  display: flex;
  align-items: center;

  /* Відступ від логотипу до меню навігації */
  margin-right: auto;

  /* Колір логотипу */
  color: var(--secondary-font-color);
  font-size: 16px;
}

/* Відступ від зображення логотипу до тексту логотипу */
.header-img {
  margin-right: 8px;
}

/* Горизонтальне розташування меню навігації та відступи між елементами */
.header-list {
  display: flex;
  gap: 50px;
}

/* Стилі посилань меню навігації */
.header-link {
  color: var(--secondary-font-color);
  font-size: 13px;
  line-height: 2.31;
  /* Розширення клікабельної області елементів меню */
  display: block;
  padding: 30px 0;
}

/* Стилі кнопки */
.header-button {
  /* Шрифт */
  font-size: 13px;
  line-height: calc(16 / 13);

  /* Колір та рамка */
  color: var(--secondary-font-color);
  background-color: transparent;
  border: 1px solid var(--secondary-font-color);
  border-radius: 4px;
  cursor: pointer;

  /* Відступи та внутрішні поля */
  margin-left: 50px;
  padding: 12px 16px;
}

/* Поля секції-героя */
.hero {
  padding-top: 240px;
  padding-bottom: 270px;
}

/* Заголовок секції-героя */
.hero-title {
  max-width: 421px;
  margin-bottom: 35px;

  font-size: 42px;
  font-weight: 400;
  line-height: calc(50 / 42);

  color: var(--secondary-font-color);
}

/* Текст секції-героя */
.hero-txt {
  max-width: 410px;
  margin-bottom: 35px;

  font-size: 11px;
  line-height: calc(30 / 11);

  color: var(--secondary-font-color);
}

/* Кнопка секції-героя */
.hero-link {
  /* Поля кнопки */
  padding: 15px 37px;

  /* Шрифт */
  font-size: 15px;
  line-height: 2;

  /* Кольори та заокруглення рамки */
  background-color: var(--accent-color);
  color: var(--secondary-font-color);
  border-radius: 4px;
}

/* About us */
/* .about-title {
  font-size: 41px;
  line-height: 1, 22;
  text-align: center;
}

.about-text {
  font-size: 12px;
  line-height: 2, 5;
  text-align: center;
}

.about-list {} */

/* Services */
.services {
  padding: 150px 0;
  background-color: #fff;
}

.service-title {
  font-weight: 400;
  font-size: 41px;
  line-height: 1, 22;
  text-align: center;
  color: var(--black);
  margin-bottom: 35px;
}

.service-desc {
  font-size: 12px;
  line-height: 2, 50;
  text-align: center;
  margin-bottom: 85px;
}

.service-list {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-bottom: 50px;
}

.service-btn {
  font-size: 24px;
  line-height: 1, 58;
  text-align: center;
  color: var(--black);
  background-color: transparent;
  border: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.card-item {
  width: 560px;
  padding: 40px 80px 40px 40px;
  border: 1px solid #E8E8E8;
}

.card-title {
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 19px;
  line-height: 1, 47;
  color: var(--black);
}

.card-desc {
  font-size: 16px;
  line-height: 1, 88;
}

.card-btn {
  padding: 15px 50px;
  display: inline-flex;
  justify-content: center;

  font-size: 15px;
  line-height: 2;
  color: #FFFFFF;
  background-color: var(--accent-color);
  border-radius: 4px;
}

/* Work */
.work {
  padding-top: 150px;
  padding-bottom: 70px;

  background: linear-gradient(to bottom, #0E0E33, #0E0E33 40%, #ffffff 40%, #ffffff 100%);
}

.work-title {
  margin-bottom: 80px;

  font-weight: 400;
  font-size: 41px;
  line-height: 1.22;
  text-align: center;

  color: var(--secondary-font-color);

}

.work-list {
  display: flex;
  gap: 140px;
  padding: 0 20px 0 40px;
  margin-bottom: 100px;
}

.work-item {
  width: 170px;
}

.work-text {
  font-size: 11px;
  line-height: 2.73;
  color: var(--secondary-font-color);
}

.work-number {
  font-size: 42px;
  line-height: 1.19;
  color: var(--secondary-font-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.project-item {
  padding: 10px;
  width: 565px;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  background-color: var(--secondary-font-color);
}

.work-wrap {
  padding: 45px 30px 35px;
}

.work-projects {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.58;
  color: var(--black);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-font-color);
}

.work-btn {
  padding: 15px 50px;
  display: block;
  margin: 0 auto;

  font-size: 15px;
  line-height: 2;
  color: var(--secondary-font-color);
  background: #0A8BFE;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Form*/
.section-form {
  padding: 414px 0 210px;

  background-image: url(../images/IMAGE-form.png);
  background-repeat: no-repeat;
  background-position: top;
}

.form {
  width: 600px;
  height: 571px;
  padding: 30px 50px;

  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

.form-title {
  width: 323px;
  margin-bottom: 125px;

  font-size: 25px;
  line-height: 1.52;
  color: var(--black);
}

.form-input {
  margin-bottom: 30px;
  width: 100%;
  height: 60px;
  padding: 18px 20px;

  border: 1px solid #E8E8E8;
  border-radius: 4px;
}

.form-input-details {
  margin-bottom: 40px;
  height: 120px;
  resize: none;
}

.form-input::placeholder {

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: var(--black);
}

.form-btn {
  padding: 18px 48px;
  display: block;
  margin: 0 auto;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}